body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}


table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}


th, td {
    padding: 12px;
    text-align: center;
    font-size: 16px;
}


th {
    background-color: yellow;
    color: black;
}


td {
    background-color: #ffe6e6;
}


tr:hover td {
    background-color: #ffcccc;
}



